html{
    padding: 0px;
    margin: 0px;
}
body {
    font-family: Arial, sans-serif;
    padding: 0px;
    margin: 0px;
}
table {
    border-collapse: collapse;
}
.table_tr, .table_td {
    box-sizing: border-box;
}
table th,
table td {
    border: 1px solid #9cc2e5;
    padding-left:5px;
}
.inline-divs {
    width:100%;
}
.inline-divs > table{
    display: inline-block;
}
h3 {
    margin-top:0;
}
.header{
    position: relative;
    width: 100%;
    height: 500px;
}
.order_number{
    position: absolute;
    top: 60px;
    left: 25%;
    color: white;
}
.header_infos{
    position: absolute; 
    width: 100%;
    padding-left: 120px;
    top: 250px;
}
.header_adr{
    position: absolute; 
    width: 100%;
    padding-left: 120px;
    top: 550px;
}
.conditions{
    width: 100%;
    border: 2px solid #000;
}


